@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?chg8n3');
  src:  url('./icomoon.eot?chg8n3#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?chg8n3') format('truetype'),
    url('./icomoon.woff?chg8n3') format('woff'),
    url('./icomoon.svg?chg8n3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
  content: "\e900";
  color: #ff682d;
}
.icon-education:before {
  content: "\e901";
  color: #ff682d;
}
.icon-oil:before {
  content: "\e902";
  color: #ff682d;
}
.icon-service:before {
  content: "\e903";
  color: #ff682d;
}
.icon-transport:before {
  content: "\e904";
  color: #ff682d;
}
.icon-medical:before {
  content: "\e905";
  color: #ff682d;
}
.icon-airport:before {
  content: "\e906";
  color: #ff682d;
}
.icon-getstarted:before {
  content: "\e908";
  color: #ff682d;
}
.icon-security:before {
  content: "\e909";
  color: #ff682d;
}
.icon-growth:before {
  content: "\e90a";
  color: #ff682d;
}
.icon-idea:before {
  content: "\e90b";
  color: #ff682d;
}
.icon-time:before {
  content: "\e90c";
  color: #ff682d;
}
.icon-protect:before {
  content: "\e90d";
  color: #ff682d;
}
.icon-downarrow:after {
  content: "\e90e";
  color:  #010919;
  opacity: 60%;
  font-weight: var(--semi-bold);
}
