#basebar {
    width: 100%;
    height: auto;
    padding: 30px 0;
    color: #fff;
    background: #020100;


    .contact-msg {
        background: var(--theme-color);
        margin-top: -70px;
        padding: 20px;
        border-radius: 10px;

        @media only screen and (max-width: 600px) {
            img {
                display: none;
            }
        }

        button {
            border: 1px solid var(--light-color);
            border-radius: 10px;
            padding: 15px 25px;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            color: var(--light-color);
            background: transparent;
        }
    }

    .footer-detail {
        height: auto;
        padding: 20px 0;

        p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.8);
        }
    }

}