#basebar {
    width: 100%;
    height: auto;
    padding: 30px 0;
    color: #fff;
    background: #020100;


    .contact-msg {
        background: var(--theme-color);
        margin-top: -70px;
    }
    .footer-detail{
        height:auto;
        padding:20px 0;
    }

}