#navbar {
    width: 100%;
    background:  var(--background-color);
    padding: 30px 0;

    .logo {
        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: space-between;
        }
        input[type = "checkbox"]{
            display: none;
        }
        #toggle-btn{
            width:40px;
            height:30px;
            padding:5px;
            background: #FFEEE6;
            border-radius: 5px;
        }
        .nav-toggle {
             display: flex;
             flex-direction: column;
             align-items:center;
             /* align-content: center; */

            .bar1 {
                width: 25px;
                height: 3px;
                background-color:#563D33;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 10px;
            }
            .bar2{
                width: 15px;
                height: 3px;
                background-color:#563D33;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 10px;
            }
        }

        .change .bar1 {
            transform: translate(0, 8px) rotate(-45deg);
        }

        .change .bar2 {
            transform: translate(0, -7px) rotate(45deg);
            width: 25px;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 70%;
        gap: 20px;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
            /* display: flex; */
            display: none;
            flex-direction: column;
            width: 100%;
            /* justify-content: space-evenly; */
        }

        #menu-list {
            gap: 10px;

            li {
                list-style: none;
                display:flex;
                flex-direction: column;
                gap:5px;
                margin:0 5px;
                
                div{
                    gap:10px;
                }

                a{
                    font-weight: var(--semi-bold);
                    color:  #010919;
                    opacity: 60%;
                    cursor: pointer;
                }
                .dropList{
                    display: none;
                    background-color: #fff;
                    padding:10px;
                    border-radius: 10px;
                    li a{
                        text-decoration: none;
                        padding:10px 0;
                    }
                }
            }
            .dropdown:hover  .dropList{
                display: block
            }
            
        }

        button {
            padding: 10px 25px;
            background: var(--theme-color);
            border: none;
            border-radius: 5px;
            color: var(--light-color);
        }
    }
    #nav-toggle:checked ~ .menu{
        @media only screen and (max-width: 600px) {
            /* display: flex; */
            display: block;
        }
    }
}