#mainpage {
    width: 100%;
    height: auto;
    /* padding:60px 0; */
    /* color: #222; */

    section:nth-child(1) {
        background: #FDE7E7;
        /* padding: 30px 0; */

        .d-flex {
            align-items: center;
        }

        .hero-lt-content {
            position: relative;
            width: 70%;

            @media only screen and (max-width: 600px) {
                width: 100%;
            }

            .demo {
                width: 615px;
                height: 526px;

                /* fill: linear-gradient(180deg, #fcf8f6 0%, #ffe9e0 52.57%, #fcf8f6 100%); */
                @media only screen and (max-width: 600px) {
                    display: none;
                }
            }

            .banner-heading {
                margin-left: 5vw;

                @media only screen and (max-width: 600px) {
                    margin-left: auto;
                    margin: 30px auto;
                }
            }

            button {
                margin-top: 30px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 25px;
                border: 1px solid #f78e64;
                background: transparent;
                border-radius: 5px;
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 14px;
                color: #080502;

                span {
                    margin-left: 10px;
                }

            }
        }

        .hero-rt-image {
            position: relative;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;

                @media only screen and (max-width: 600px) {
                    margin-top: auto;
                }
            }
        }
    }

    section:nth-child(3) {
        background: #ffffff;
        padding: 60px 0;

        .service-rt-content {
            /* background: #fafafa; */
            width: 100%;
            overflow: scroll;
            gap: 15px;
            margin-top: 50px;
            cursor: all-scroll;
            scroll-behavior: smooth;

            .service-card {
                position: relative;
                width: 100%;
                /* flex-shrink: 0; */

                img {
                    /* width: 100%; */
                    width: 320px;
                    height: 400px;
                    object-fit: cover;
                    border-radius: 10px;
                    filter: brightness(100%);

                }

                p {
                    font-weight: var(--bold);
                    font-size: 18px;
                }

                button {
                    padding: 10px 25px;
                    border-radius: 5px;
                    background: transparent;
                    color: #ffffff;
                    border: 0.5px solid #c9c7c793;
                }

                .service-card-size {
                    cursor: pointer;
                    padding: 10px;
                    position: absolute;
                    bottom: 3vh;
                    /* left:8vw; */
                    color: #ffffff;
                    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100%));
                }

                @media only screen and (max-width: 600px) {
                    flex-shrink: 0;
                    width: auto;
                }
            }

            .service-card:first-child {
                margin-left: 65px;

                @media only screen and (max-width: 600px) {
                    margin-left: 15px;
                }
            }

            .service-card:last-child {
                margin-right: 65px;

                @media only screen and (max-width: 600px) {
                    margin-right: 15px;
                }
            }
        }

        .service-rt-content::-webkit-scrollbar {
            display: none;
        }

    }

    section:nth-child(2) {
        background: #FAFAFA;
        padding: 60px 0;

        .d-flex {
            align-items: start;

            @media only screen and (max-width: 600px) {
                flex-direction: column-reverse;
            }
        }

        .about-lt-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            #about-short-list {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media only screen and (max-width: 600px) {
                    margin-top: 40px;
                }

                .list-items {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .exp-card {
                display: none;

                @media only screen and (max-width: 600px) {
                    display: block;
                    background-color: var(--theme-color);
                    padding: 20px;
                    padding-left: 50px;
                    margin-left: -50px;
                    border-radius: 0 10px 10px 0;

                    span {
                        font-size: 24px;
                        font-weight: var(--bold);
                        color: var(--light-color);
                    }
                }

            }
        }

        .about-lt-content,
        .about-rt-image {
            /* width: 40%; */

            @media only screen and (max-width: 600px) {
                width: 100%;
            }
        }

        .about-rt-image {
            width: 90%;

            img {
                width: 100%;
            }

            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    section:nth-child(4) {
        background: linear-gradient(180deg, #fff 0%, rgba(255, 251, 249, 0.998), #fff 100%);
        padding: 60px 0;

        .work-rt-content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 50px;

            /* width: 100%; */
            .work-card {
                    text-align: center;
                    border-radius: 10px;
                    padding: 20px;
                    width: 200px;
                    flex-grow: 1;
                    border: 1px solid rgb(255, 104, 45, 28%);
                    background-color: #ffffff;
            
                    h4 {
                        font-family: var(--font-family);
                        font-weight: 700;
                        font-size: 18px;
                        text-transform: capitalize;
                        color: var(--dark-color);
                    }
                    span {
                        font-family: var(--font-family);
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 143%;
                        letter-spacing: 0.03em;
                        text-align: center;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

            .work-card:last-child {
                flex-grow: 0;
                width: 28.5% !important;

                @media only screen and (max-width: 600px) {
                    width: 100% !important;
                }
            }
        }
    }


    section:nth-child(5) {
        background: #FCF8F6;
        padding: 60px 0;

        .d-flex {
            gap: 30px;

        }

        .testi-lt-content,
        .testi-rt-image {
            width: 50%;

            @media only screen and (max-width: 600px) {
                width: 100%;
            }
        }

        .testi-rt-image {
            img {
                width: 100%;
            }

            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        .testi-lt-content {
            /* background: green; */
            position: relative;
            /* background:green; */

            .slider {
                position: relative;

                .controls {
                    width: 100%;
                    position: relative;

                    img {
                        width: 40px;
                        cursor: pointer;
                        position: absolute;
                        z-index: 1;
                    }

                    img:first-child {
                        left: 0;
                        margin-top: 10pc;

                        /* bottom:50vh; */
                        @media only screen and (max-width: 600px) {
                            margin-top: 12pc;
                        }
                    }

                    img:last-child {
                        right: 0;
                        margin-top: 10pc;

                        @media only screen and (max-width: 600px) {
                            margin-top: 12pc;
                        }
                    }

                }

                .testi-slider {
                    position: relative;
                    width: 80%;
                    display: flex;
                    overflow: hidden;
                    flex-shrink: 0;
                    margin: auto;
                    margin-top: 50px;

                    @media only screen and (max-width: 600px) {
                        width: 100%;
                    }

                    /* background:red; */

                    #testi-content {
                        width: 100%;
                        /* margin-left:10vw; */
                        /* overflow:scroll; */
                        background: transparent;
                        display: flex;
                        align-content: center;
                        /* gap: 20px; */
                        flex-shrink: 0;
                        height: auto;

                        .testi-item {
                            /* width: 100% !important; */
                            background: #FAEBE4;
                            display: flex;
                            flex-direction: column;
                            padding: 20px;
                            border-radius: 10px;
                            margin: 0 30px;
                        }
                    }
                }
            }

        }

    }

    section:nth-child(6) {
        background: #FBFBFB;
        padding: 60px 0;

        .d-flex {
            gap: 20px;
        }

        .blog-content-item {
            background-color: #f1f1f1;
            border-radius: 5px;
            padding-bottom: 10px;

            h4,
            p,
            a {
                padding: 0 10px;
            }

            img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }


    }

    section:nth-child(7) {
        background: #F6F6F6;
        padding: 60px 0;

        .faq-content-item {
            background-color: #ffffff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
        }
    }
}