#mainpage {
    width: 100%;
    height: auto;
    /* padding:60px 0; */
    color: #222;

    section:nth-child(1) {
        background: var(--background-color);
        padding: 60px 0;

        .hero-rt-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;

                @media only screen and (max-width: 600px) {
                    margin-left: 30px;
                }
            }
        }
    }

    section:nth-child(2) {
        background: #FBFBFB;
        padding: 60px 0;

        .service-rt-content {
            background: #fafafa;
            width: 100%;
            overflow: scroll;

            img {
                width: 100%;
            }
        }

    }

    section:nth-child(3){
        background: #ffffff;
        padding: 60px 0;

        .d-flex{
            align-items: start;
            @media only screen and (max-width: 600px) {
                flex-direction: column-reverse;
            }
        }
        .about-lt-content,.about-rt-image{
            width:50%;
            @media only screen and (max-width: 600px) {
                width:100%;
            }
        }
        .about-rt-image{
            img{
                width:100%;
            }
        }
    }
}