#mainpage{
    width:100%;
    height: auto;
    padding:60px 0;
    color:#222;
    background: var(--background-color);

    .hero-rt-image{
        position: relative;
        overflow: hidden;
        img{
            width:100%;
            @media only screen and (max-width: 600px) {
                margin-left: 30px;
            }
        }
    }
} 